.priority-project {
  padding: 65px 0 70px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    display: block;
    background-color: #467637;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23437135' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    z-index: 1;
    width: 100%;
  }

  & .wrapper {
    position: relative;
    z-index: 2;
  }

  & .title--two {
    font-size: 40px;
    margin-bottom: 45px;
  }

  & .home-slider {
    margin-bottom: 80px;
  }

  & .button:hover,
  & .button:focus {
    border-color: #467637;
  }
}

.priority-project__header {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 90px;
  row-gap: 20px;
  margin-bottom: 90px;
}

.priority-project__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & .text {
    max-width: 550px;
    margin: 0;
    margin-left: 25px;
  }

  & .button {
    max-width: 170px;
    width: 100%;
  }
}

@media (max-width: 1140px) {
  .priority-project__header {
    align-items: self-end;
  }

  .priority-project::before {
    display: none;
  }

  .priority-project .wrapper {
    padding: 0 20px;
  }
}

@media (max-width: 950px) {
  .priority-project__header {
    grid-template-columns: 1fr;
    row-gap: 75px;
    margin-bottom: 90px;
    max-width: 100%;
    margin: 0 auto;
  }

  .priority-project__footer {
    justify-content: center;
    flex-direction: column;
  }

  .priority-project__footer .button {
    margin: 40px 0;
  }
}

@media (max-width: 512px) {
  .priority-project .home-slider {
    display: none;
  }
}
