.title {
  font-size: 51px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  margin: 0;
}

.title--sub strong {
  font-size: 120%;
  font-weight: 700;
}

.title--two {
  line-height: 1.2;
  color: #000000;
  margin: 0;
  font-size: 40px;
  font-weight: 900;
}

